
:root{
   --colortablatitulo:rgba(4, 135, 196, 0.795);
   --colorlineas:rgb(17, 3, 82);
   --colorheader:rgb(9, 214, 60);
   --colorceldas:rgb(171, 173, 171);
   --colorbordetable:black;
}
*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    background-color: beige;
}


header{
    height: 60px;
    background-color: aqua;
    position: fixed;
    top:0;
    width: 100%;
}




    /*------------------------------------------------------------------------------------
                   seccion galeria
------------------------------------------------ ------------------------------------- */



p{
    text-align:start;
    
}
h2{
    text-align: center;
    margin-top: 100px;
    border-bottom: 5px solid greenyellow;
    width: 400px;
    margin-left: 35%;
    
}
.titulo{
    background-color:white;
    height: 50px;
    margin-bottom: 20px;
}


    /*------------------------------------------------------------------------------------
                   seccion 1
------------------------------------------------ ------------------------------------- */
.table-rwd {
    font-size: .85em;
    border: 1px solid rgba(181, 213, 144, 0.5);
    color: #666;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
}
    .table-rwd td, .table-rwd th {
      padding: auto;
      border-bottom: 1px solid rgba(181, 213, 144, 0.5); 
    }
    .table-rwd th {
      background: #1A8CFF;
      color: #fff;
      font-weight: normal;
      text-align: center; 
    }
    .table-rwd td {
      text-align: start;
     }
      .table-rwd td:before {
        
        color: #1A8CFF; 
    }
      /* .table-rwd td:after {
        content: ".00"; 
    } */
      .table-rwd td:first-of-type {
        text-align: left; 
        padding-top: 150px;
    }
        /* .table-rwd td:first-of-type:before {
          content: ""; 
        }
        .table-rwd td:first-of-type:after {
          content: ""; } */
    .table-rwd tr:hover {
      background: rgba(181, 213, 144, 0.2); 
    }
    .table-rwd tr td:nth-child(2n) {
      background: rgba(181, 213, 144, 0.2); 
    }
  
  .table-container {
    overflow-x: auto; }
  
  .table-rwd {
    min-width: 890px; 
}
    .table-rwd td:first-child {
      position: absolute;
      background: #fff;
      width: 8em;
      
    }
    .table-rwd th:first-child {
      width: 8em; 
    }
    .table-rwd tr:hover td:first-child {
      background: #1A8CFF;
      color: #fff; 
    }
    /* /* .table-rwd tr:nth-child(2) td:first-child {
      box-shadow: 0 -2.7em 0 -6px #1A8CFF, -6px -2.7em 0 -6px #1A8CFF; 
    } */
   */
  .table-rwd th{
      text-align: center;
  }
    p{
        text-align:start;
        
    }



    /*------------------------------------------------------------------------------------
                   seccion galeria
------------------------------------------------ ------------------------------------- */

 .cont-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
h3{
    text-align: center;
    margin-top: 10px;
    
}
.galeria-img {
    margin-top: 70px;
    margin-left: 20px;
    width: 400px;
    height: 300px;
}

.galeria-img img{
   width: 400px;
   height: 300px;
}
.imagen-light{
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.534);
   transform: translate(100%);
   transition: transform .2s ease-in-out;
}

.agregar-imagen{
   width: 65%;
   transform: scale(0);
   border-radius: 10px;
   transition: transform .3s .2s;
}

.showImage{
   transform: scale(1);
}

.show{
   transform: translate(0);
}

.close{
   position: absolute;
   top: 15px;
   right: 15px;
   width: 40px;
   cursor: pointer;
   font-size: 40px;
}

   
     @media(min-width:900px){


/*------------------------------------------------------------------------------------
                                 seccion 1
------------------------------------------------ ------------------------------------- */

.seccion-1{
    background-image: url(../img/2.jpg);
    background-size: cover;
    height: 700px;
    padding-top: 30px;
}
/*------------------------------------------------------------------------------------
                   seccion galeria
------------------------------------------------ ------------------------------------- */

 .cont-galeria{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin-top: 50px;

 }
 h3{
     text-align: center;
     margin-top: 10px;
     
 }
 .galeria-img {
     margin-top: 70px;
     margin-left: 20px;
     width: 400px;
     height: 300px;
 }

 .galeria-img img{
    width: 400px;
    height: 300px;
 }
 .imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen{
    width: 65%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
    font-size: 40px;
}
 /*------------------------------------------------------------------------------------
                   seccion mapa mental
------------------------------------------------ ------------------------------------- */
 .mapa-mental{
     background-color: rgba(204, 203, 203, 0.781);
     height: 550px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .cont-mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

 .cont-mapa img{
     height: 400px;
     width: 80%;
 }


  /*------------------------------------------------------------------------------------
                   seccion footer
------------------------------------------------ ------------------------------------- */


footer{
    height: 200px;
    background-color: blanchedalmond;
}

     }